---
- name: Setup Docker and deploy container
  hosts: webserver
  become: yes

  tasks:
    - name: Install required system packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
        update_cache: yes

    - name: Add Docker GPG key
      shell: |
        install -m 0755 -d /etc/apt/keyrings
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
        chmod a+r /etc/apt/keyrings/docker.gpg

    - name: Add Docker repository
      copy:
        dest: /etc/apt/sources.list.d/docker.list
        content: |
          deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu jammy stable

    - name: Install Docker engine
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        update_cache: yes
        state: present

    - name: Enable and start Docker service
      systemd:
        name: docker
        state: started
        enabled: true

    - name: Copy web app files to server
      copy:
        src: /home/teena/network/app/
        dest: /home/ubuntu/web/
        owner: ubuntu
        group: ubuntu
        mode: '0755'

    - name: Build Docker image
      command: docker build -t dashboard-app /home/ubuntu/web/

    - name: Run Docker container
      command: docker run -d -p 80:80 --name dashboard-app dashboard-app
